{% extends "base.html" %}

{% block title %}
Our stock
{% endblock %}

{% block content %}
    <table class="table text-center">
        <thead>
        <tr>
            <th scope="col">car_id</th>
            <th scope="col">Name</th>
            <th scope="col">Seats</th>
            <th scope="col">Bags</th>
            <th scope="col">Rent</th>
            <th scope="col">Full</th>
            <th scope="col">In stock</th>
            <th scope="col">Edit/Add stock</th>
        </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <th scope="row">{{ car['car_id'] }}</th>
                <td>{{ car['name'] }}</td>
                <td>{{ car['seats_number'] }}</td>
                <td>{{ car['bags_number'] }}</td>
                <td>{{ car['rent_price'] }}</td>
                <td>{{ car['full_price'] }}</td>
                <td>{{ car['cars_in_stock'] }}</td>
                <td>
                    <a href="{{url_for('info.edit_car', car_name=car['name'])}}" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="wave">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        </svg>
    </div>    
{%endblock%}