{% extends "base.html" %}

{%block title%}
Change Password
{%endblock%}

{% block content %}
<section>
    <form class="change_pdw_form" method="POST">
        {{ form.csrf_token }}
        <div class="form-group">
        {{ form.password.label }} 
        {{ form.password(class="form-control", placeholder="Enter password")}}
        </div>
        <div class="form-group" id="button_edit">
            {{ form.submit(class="btn btn-primary", id="form_button") }}
        </div>
    </form>
</section>   
{% endblock %}