{% extends "base.html" %}

{%block title%}
Edit User
{%endblock%}

{% block content %}

<form class="edit_user_form" method="POST">
  <h1>My Account</h1>
  {{ form.csrf_token }}
  <div class="form-group">
    {{ form.name.label }} 
    {{ form.name(class="form-control", placeholder="Enter new name", value=currentUser.name) }}
  </div>
  <div class="form-group">
    {{ form.funds.label }} <span>{{currentUser.funds}}</span>
    {{ form.funds(class="form-control", placeholder="Enter additional funds", value=0) }}
  </div>
  <div class="form-group" id="button_edit">
    {{ form.submit(class="btn btn-primary", id="form_button") }}
  </div>
  <p>Do you want to change your password?<a href="{{url_for('users.edit_user_password', email=currentUser.email)}}">Click Here</a></p>
</form>
<div class="wave">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
  </svg>
</div>
{% endblock %}